*.egg-info
_version.py
__pycache__
Run
*checkpoint*

# mad8
*.ps
*.pdf
*.txt
print
*dict
RMAT*
TWISS*

# impactX
*.0.0

# bdsim
*gmad
*root

# plots/notebook output
*.jpeg
*.jpg
*.tiff
*.pdf
*.ps
*.eps

docs/build/*
